@font-face {
  font-weight: 400;
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Bold.ttf') format('truetype');
}
