@import 'variables'; //пишем переменные
@import 'reset'; //сборс стилей
@import 'fonts'; //подключаем шрифты (локально)

//подключаем БЭМ блоки

@import 'blocks/header';
@import 'blocks/hello-page';
@import 'blocks/recent-posts';
@import 'blocks/featured-works';
@import 'blocks/footer';
.container {
  max-width: 1152px;
  margin: 104px auto 146px;
  color: $color-dark;
}
.bg {
  background-color: $color-dark;
  opacity: .5;
  z-index: 9;

  position: fixed;
  top: 200px;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  transform: translateX(110%);
  transition: transform 0.5s;
  z-index: 10;
  &.active {
    transform: translateX(0);
  }
}

// MEDIA QUERIES

@media screen and (max-width: 986px) {
  .container {
    margin: 52px auto;
  }
}

@media screen and (max-width: 658px) {
  .container {
    margin: 15px auto;
  }
}
