// header

.menu {
  margin: 0 60px 170px 0;
}
.navigation {
  display: flex;
  justify-content: flex-end;

  &__link {
    margin-left: 33px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 986px) {
  .menu {
    margin: 0 60px 85px 0;
  }
}

@media screen and (max-width: 658px) {
  .menu {
    margin: 0 60px 42px 0;
  }
}

@media screen and (max-width: 514px) {
  .menu {
    display: none;
  }
}
