.hello-page {
  display: flex;
  justify-content: space-between;
  padding: 0 148px;
}
.content {
  flex: 0 1 497px;
  margin-bottom: 70px;
  &__title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
  }
  &__description {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 24px;
  }
  &__button {
  }
}
.button {
  padding: 9px 20px;
  border-radius: 2px;
  border: none;
  background-color: $color-pink;
  transition: all 500ms ease;
  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
  }
  &:hover {
    background: $color-blue;
  }
}
.avatar {
  position: relative;
  align-self: flex-start;
  &__bg {
    width: 243px;
    height: 243px;
  }
  &__img {
    position: absolute;
    top: -13px;
    left: 5px;
    width: 243px;
    height: 243px;
    background-image: url("../../img/avatar.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 986px) {
  .hello-page {
    flex-direction: column-reverse;
    padding: 0 80px;
    & * {
      text-align: center;
    }
  }
  .content {
    flex-basis: 100%;
  }
  .avatar {
    align-self: center;
  }
}

@media screen and (max-width: 658px) {
  .avatar {
    &__bg {
      width: 170px;
      height: 170px;
    }
    &__img {
      width: 170px;
      height: 170px;
    }
  }
}

@media screen and (max-width: 524px) {
  .hello-page {
    padding: 0 25px;
  }
  .content__title {
    padding: 0 10%;
    font-size: 32px;
    line-height: 40px;
  }
}
