.recent-posts {
  padding: 0 148px;
  background-color: $color-sky;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: $color-blue;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}
.card {
  flex: 0 1 418px;
  margin: 0 0 30px;
  padding: 25px;
  min-width: 354px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgb(187 225 250 / 25%);
  border-radius: 4px;
  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 10px;
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    &_data {
    }
    &_line {
      margin: 0 24px;
      position: relative;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #000;
      }
    }
    &_about {
    }
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 1150px) {
  .recent-posts {
    &__cards {
      flex-direction: column;
    }
  }
  .card {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 986px) {
  .recent-posts {
    padding: 0 80px;
  }
}

@media screen and (max-width: 524px) {
  .recent-posts {
    padding: 0 10px;
    &__title {
      justify-content: center;
    }
    &__link {
      display: none;
    }
  }
  .card {
    padding: 10px 20px;
    min-width: 100%;
  }
}
